<% repc = Repc.find(repc_id) %>

<div class="row fw-light <%= normal_text %>">
  <div class="col-6 text-center">
    <div class="blue-summer-sky"><i class="fa fa-calendar"></i></div>
    Site Visit Date<br>
    <div class="blue-summer-sky text-nowrap">TBA</div>
  </div>
  <div class="col-6 text-center">
    <div class="blue-summer-sky"><i class="fa fa-calendar-check"></i></div>
    Closing Date
    <div class="blue-summer-sky text-nowrap"><%= apollo_date3(repc.settlement_date) rescue '-' %></div>
  </div>
</div>
