<div class="col">
  <div class="zcard d-flex align-items-center" style="min-height: 13vw">

    <div class="d-flex align-items-center ms-5">
      <div class="p-4 flex-fill">
	<%= a %>
      </div>
      <div class="p-2 flex-fill">
	<span class="fw-light fw-lighter"><%= b %></span><br>
	<span class="fw-light"><%= c %></span>
      </div>
    </div>

  </div>
</div>
