<div class="mop-bg-gray text-center pt-1 pb-1 text-muted">
  <div class="mop-full-width-on-mobiles" style="font-size: 0; display: inline-block; outline: 0px solid brown">

  <% labels.each_with_index do |label, index| %>
    <%= render '/component/crayon/progress/cell', index: index, progress: progress, label: label, curr: curr %>
  <% end %>

  </div>
</div>
