<div class="container">
  <div class="row">
    <div class="col">

      <ul class="nav nav-tabs">
	<li class="nav-item fw-light">
	  <a class="nav-link text-brandprimary <%= 'fw-bold' if active == 'Checklist' %> bg-transparent" href="<%= "/projects/#{project.id}?tab=dispositions_checklist" %>">Checklist</a>
	</li>
	<li class="nav-item fw-light">
	  <a class="nav-link text-brandprimary <%= 'fw-bold' if active == 'Prepare Listing' %> bg-transparent" href="<%= "/projects/#{project.id}?tab=dispositions_prepare_listing" %>">Prepare Listing</a>
	</li>
      </ul>

    </div>
  </div>
</div>
