<%= javascript_include_tag 'examplealternativereactcomponent' %>
<div id="examplealternativereactcomponent"></div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    ReactDOM.createRoot(document.getElementById("examplealternativereactcomponent"))
      .render(window.examplealternativereactcomponent);
  })
</script>
