<%= javascript_include_tag 'examplereactcomponent' %>
<div id="examplereactcomponent"></div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    ReactDOM.createRoot(document.getElementById("examplereactcomponent"))
      .render(window.examplereactcomponent);
  })
</script>
