<%= javascript_include_tag 'my_file_browser_entry' %>
<div id="my_file_browser"></div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    ReactDOM.createRoot(document.getElementById("my_file_browser"))
      .render(window.my_file_browser);
  })
</script>
