<%
  repc = Repc.find(repc_id)
%>


<div class="row fw-light <%= normal_text %>">
  <div class="col-6 text-center">
    <div class="blue-summer-sky"><i class="fa fa-calendar"></i></div>
    Expiration<br>
    <div class="blue-summer-sky text-nowrap"><%= apollo_date3(repc.project.addendums.last.addendum_versions.last.expiration) rescue "-" %><!--Sep 29, 2022--></div>
  </div>
  <div class="col-6 text-center">
    <div class="blue-summer-sky"><i class="fa fa-calendar-check"></i></div>
    New Closing Date
    <div class="blue-summer-sky text-nowrap"><%= apollo_date3(repc.project.addendums.last.addendum_versions.last.deadline) rescue "-"%><!--Sep 29, 2022--></div>
  </div>
</div>
