<div class="silica-calendar text-muted">
  <div class="text-center mb-3"><%= top %></div>
  <div class="silica-calendar-inner">
    <span class="month"><%= upper %></span>
    <span class="date"><%= lower %></span>
    <span class="mt-2"><%= bottom %></span>   
  </div>
</div>
