<div class="bootstrap-signin-example-wrapper text-center <%= current_area.style(:basic).classes %>">
  <main class="form-signin">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
      <img class="mb-4" src="<%= silica_bucket('/logo_square.png') %>" alt="" width="72">
      <div class="mb-3">Please sign in</div>
      <div class="form-floating">
        <input name="user[email]" type="email" class="form-control" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input name="user[password]" type="password" class="form-control" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="checkbox mb-3">
        <label class="<%= inherit_styles %>">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="fw-light w-100 btn btn-lg btn-brandprimary silica-rounded-0.5-i" type="submit">sign in</button>
    <% end %>
  </main>
</div>
