<span class="d-inline none d-lg-none">
  <button type="button" class="btn <%= local_assigns[:map] == '2' ? 'btn-light text-muted bg-white-level-three' : 'btn-brandprimary fg-white-level-four-i' %> zbtn-lg text-nowrap silica-rounded-1-i text-uppercase fs-3 fw-light me-3 shadow" style="left: 15vw; bottom: 7vw; width: 30vw; position: fixed; z-index: 1030" data-action="click->listings#listView">
    LIST
  </button>
</span>
<span class="d-inline none d-lg-none">
  <button type="button" class="btn <%= local_assigns[:map] != '2' ? 'btn-light text-muted bg-white-level-three' : 'btn-brandprimary fg-white-level-four-i' %> zbtn-lg text-nowrap silica-rounded-1-i text-uppercase fs-3 fw-light me-3 shadow" style="right: 15vw; bottom: 7vw; width: 30vw; position: fixed; z-index: 1030;" data-action="click->listings#mapView">
    MAP
  </button>
</span>
