<div id="contacts-index-table" class="table-responsive">
  <table class="table table-borderless">
    <tbody>

      <tr>
        <td colspan="9" class="text-center">
          <% if !@empty && !fresh %>
	  <i class="fas fa-exclamation-triangle"></i> This view can sometimes be out of date. You can click <a href="/contacts/refresh">here</a> to refresh.
          <% end %>

          <% if @empty %>
	  Click <a href="/contacts/refresh">here</a> to fetch from sendgrid.com.
          <% end %>
	</td>
      </tr>

      <% Contact.order('sendgrid_created_at DESC').limit(25).each do |contact| %>
        <%= render '/contacts/index/table/row', { values: [
              contact.first_name.presence || '-',
              contact.last_name.presence || '-',
              contact.phone_mobile.presence || '-phone-',
              contact.phone_work.presence || '-work-phone-',
              contact.email.presence || '-',
              (investing_locations_pretty(contact.investing_location)).presence || '-',
	      contact.sendgrid_created_at_searchable
            ]  
  	  } %>
      <% end %>

    </tbody>
  </table>
</div>
