<div class="container">
  <div class="row ms-2">
    <div class="col p-2">
      <p>Property Details</p>
    </div>
  </div>
</div>

<div class="container">
  <%= render '/projects/show/dispositions_prepare_listing/segment_4/row_1', **local_assigns, form_id: form_id %>
  <%= render '/projects/show/dispositions_prepare_listing/segment_4/row_2', **local_assigns, form_id: form_id %>
  <%= render '/projects/show/dispositions_prepare_listing/segment_4/row_3', **local_assigns, form_id: form_id %>
  <%= render '/projects/show/dispositions_prepare_listing/segment_4/row_4', **local_assigns, form_id: form_id %>
  <hr>
</div>
