<div class="container">
  <div class="row ms-2">
    <div class="col-3 p-2">
      <%= silica_field('Street', project.street) %>
    </div>

    <div class="col-3 p-2">
      <%= silica_field('State', project.state) %>
    </div>
  </div>
  
  <div class="row ms-2">
    <div class="col-3 p-2">
      <%= silica_field('City', project.city) %>
    </div>

    <div class="col-3 p-2">
      <%= silica_field('Zip', project.zip) %>
    </div>

    <hr class="my-3">
  </div>
</div>
