<div class="col-12 col-lg-7 text-center">
  <%= render '/card' do %>
  <iframe src="<%= CALENDAR_URL %>" style="border: 0" width="100%" height="600px" frameborder="0" scrolling="no"></iframe>
  <% end %>
</div>
