<%
   project = Project.find(project_id)
%>

<%= form_with url: "/blasts" do |form| %>
  <%= form.hidden_field 'blast[project]', value: project.id %>
  <button id="send-marketing-email" type="submit" class="btn btn-info text-white text-nowrap silca-rounded-0.5-i <%= 'disabled' unless project.detected_state %>">
    Send Marketing Email - <%= project.detected_state %> <i class="fa fa-paper-plane"></i>
  </button>
<% end %>
