<div class="container-xxl">
  <div class="<%= Marketplace::BasicStyle.css %>" style="<%= Marketplace::BasicStyle.inline_css %>">
    <%= listing.project.combined_address_with_zip %>
  </div>  
</div>
