<%= form_with(url: "/gallery", method: :post, id: 'gallery-button') do |form| %>
<% end %>
<div class="position-absolute shadow bootstrap-font"
     style="bottom: 10%; left: 3% !important;">

  <button type="submit" class="btn btn-light silca-rounded-0.5-i py-1 px-3" style="border-radius: 0.5rem; border-radius: 2rem" form='gallery-button'>
    <i class="fas fa-images text-brandprimary"></i>
    <div class="d-inline-block ms-2">Browse Gallery</div>
  </button>

</div>
