<div class="container-xxl">
  <div class="d-inline-block text-white px-3 zpy-1 fw-normal" style="border-radius: 0.75rem; background-color: #110777"><%= OPPORTUNITY_TYPES[listing.opportunity_type] %></div>
</div>
