<div class="d-inline-block px-1 py-0 mx-1 my-0" style="zoutline: 1px dotted silver; border-radius: 9px; box-shadow: 0 0.125rem 0.5rem rgb(0 0 0 / 13%) !important;}">
  <i class="<%= icon %>" style="color: #BDD0FB; font-size: <%= LISTINGS_ZOOM_REDUCTION %>"></i>
  <span class="mx-1" style="font-size: <%= LISTINGS_ZOOM_REDUCTION %>"><%= text %></span>
</div>

