<div class="d-inline-block ms-1 me-3 px-3 py-1" style="zoutline: 1px dotted silver; border-radius: 15px; box-shadow: 0 0.125rem 0.5rem rgb(0 0 0 / 13%) !important;}">
  <i class="<%= icon %>" style="color: #BDD0FB"></i>
  <span class="mx-1"><%= text %></span>
</div>

