<div class="card <%= current_area.background_style %> border-0 <%= normal_text %>" style="zopacity: 0.8">
  <div class="row p-2 px-2 m-0">
    <div class="col-auto  d-flex align-items-center p-0 px-1">
      <i class="text <%= icon %>"></i>
    </div>
    <div class="col p-0 px-1 m-0">
      <div class="upper-1632843977" style="line-height: 100%">
	<%= title %>
      </div>
    </div>
  </div>
</div>

