<div class="carousel-item active" style="background: silver;">
  <div class="" style="
			   zwidth: 600px; height: 70vh;;
                       background-image: url(<%= silica_neutral_bucket('/mocks/placeholder.png') %>); background-repeat: no-repeat; 
			   background-size:cover;
			   background-position:center center;
			   ">
	&nbsp;
  </div>
</div>
<div class="carousel-item" style="background: silver;">
  <div class="" style="
			   zwidth: 600px; height: 70vh;;
                       background-image: url(<%= silica_neutral_bucket('/mocks/placeholder.png') %>); background-repeat: no-repeat; 
			   background-size:cover;
			   background-position:center center;
			   ">
	&nbsp;
  </div>
</div>
