<% project = Project.find(project_id)
   repc = project.repc %>

<div class="row">
  <div class="col-4 ms-3 zpy-3">
    <div class="row">

      <div class="col-6 zmx-3 py-1">
        <div class="<%= demoted_text %>">Prepared By</div>
        <%= APOLLO_PURCHASER_NAME %>
      </div>
    </div>

  </div>

  <div class="col-1 ms-3 zpy-3">
    &nbsp;
  </div>

  <div class="col-4 mx-3 py-3">
    &nbsp;
  </div>
</div>

