<% if UxPolicy.new(current_user, nil).dispositions? %>
  <%= render '/projects/show/shared/summary', project: @project %>

  <%= render '/projects/show/shared/tabs', project: @project, active: 'Dispositions' %>

  <div class="mt-3"><!-- spacer --></div>

  <%= render '/projects/show/shared/dispositions_inner_tabs', project: @project, active: 'Prepare Listing' %>

  <%= render '/dispositions_prepare_listing_pane/dispositions_prepare_listing_pane', project: @project.id %>
<% end %>
