<% if UxPolicy.new(current_user, nil).underwriting? %>
  <%= render '/projects/show/shared/summary', project: @project %>

  <%= render '/shared/tabs', project: @project, active: 'Underwriting' %>

  <div class="mt-3"><!-- spacer --></div>

  <%= render '/shared/underwriting_inner_tabs', project: @project, active: 'Review Offer' %>


  <%= render '/projects/underwriting_review_offer/underwriting_review_offer_pane', project_id: @project.id %>
<% end %>
