<div class="mop-bg-gray text-center pt-4 pb-4">
  <div class="fs-3 silica-full-width-on-mobiles d-inline-block">
    <div class="rounded-3 bg-white mx-2 p-5" style="text-align: initial">
      <%= yield %>
    </div>
  </div>
</div>

