<div id="<%= dom_id example %>">
  <p>
    <strong>Title:</strong>
    <%= example.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= example.body %>
  </p>

  <p>
    <strong>Seed:</strong>
    <%= example.seed %>
  </p>

</div>
