/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require actiontext
 *= require sessions
 *= require colors
 *= require font_size
 *= require font_size-i
 *= zrequire debug
 *= require_self
 */

.border-bottom-dashed {
  border-bottom: dashed 1px #0088cc;
}

/* to be removed after refactor of inline editing stuff */
.min-sizes-for-child-textareas textarea {
  width: 100% !important;
  min-height: 200px;
}

.dropzone {
  height: 90px;
  min-height: initial !important;
  max-height: 90px;
  border: 0px dotted silver !important;
}
.dropzone .dz-message { margin: 0px  !important }

.dropzone:hover {
  background-color: white;
}

#apollo-nav .nav-link {
  color: inherit;
}

trix-editor {
  background-color: white;
}

/* we dont wont image attachments in the trix editor atm. */
.trix-button-group.trix-button-group--file-tools {
    display:none;
}

.bg_f9 {
  background-color: #f9f9f9;
}

.page-item.active .page-link {
  
}


.silica-weight-reset {
  font-weight: inherit !important;
}

.silica-map-label {
  opacity: 1;
  background-color: white;
  color: black;
  padding: 2px 5px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
}

.silica-blue-summer-sky {
  color: #1AAFD0
}

.silica-feather-icon {
  width: 16px;
  height: 16px;
  stroke: currentColor;
  zstroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

/* transparency */
.silica-super-light {
  opacity: 0.1;
}
/* /transparency */

/* rounding */
.silica-rounded-1-i {
  border-radius: 1rem !important;
}

.silca-rounded-0.5-i {
  border-radius: 0.5rem !important;
}
/* /rounding */

/* backgrounds */
.silica-house-background {
  background: url(/silica-house-background.png);
  background-size: cover;
  zbackground-position:center center;
  background-color: #F5F5F5;
}
/* /backgrounds */

/* shadows */
@media (min-width: 992px) {
  .silica-shadow-on-lg-up {
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
  }
}
/* /shadows */

/* fonts */
.brand-font {
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.bootstrap-font {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.brand-font-2 {
  font-family: p22-mackinac-pro, sans-serif;
}
/* /fonts */


/* responsive width */
@media (min-width: 992px) {
  .silica-shorter-70px-mobiles {
    width: 100px;
  }
}

@media (max-width: 992px) {
  .silica-shorter-70px-mobiles {
    width: 70px;
  }
}

.silica-full-width-on-mobiles {
  width: 100%;
  max-width: 1024px;
}
/* /responsive width */

/* calendar */
.silica-calendar-inner {
  width: 150px;
  height: 150px;
  background: #FFF;
  position: relative;
}

.silica-calendar-inner:before, .silica-calendar-inner:after {
  content: "";
  height: 30px;
  width: 11.25px;
  background: white;
  position: absolute;
  top: -15px;
  border-radius: 2px;
  border: 0.5px dotted whitesmoke;
}

.silica-calendar-inner:before {
  left: 30px;
}
.silica-calendar-inner:after {
  right: 30px;
}

.silica-calendar-inner span {
  display: block;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.silica-calendar span.month {
  background: whitesmoke;
  height: 37.5px;
  color: white;
  background: black;
}

.silica-calendar span.date {
  height: 105px;
  font-size: 4vw;
  positon: relative;
  color: black;
}

.silica-calendar span.date:after {
  content: "";
  height: 7.5px;
  width: 150px;
  background: whitesmoke;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.5;
}
/* /calendar */
