@media (min-width: 992px) {
  .shorter-70px-mobiles {
    width: 100px;
  }
}

@media (max-width: 992px) {
  .shorter-70px-mobiles {
    width: 70px;
  }
}

.mop-full-width-on-mobiles {
  width: 100%;
  max-width: 1024px;
}
