.apollo-fs-1-i { font-size: 1px !important; }
.apollo-fs-2-i { font-size: 2px !important; }
.apollo-fs-3-i { font-size: 3px !important; }
.apollo-fs-4-i { font-size: 4px !important; }
.apollo-fs-5-i { font-size: 5px !important; }
.apollo-fs-6-i { font-size: 6px !important; }
.apollo-fs-7-i { font-size: 7px !important; }
.apollo-fs-8-i { font-size: 8px !important; }
.apollo-fs-9-i { font-size: 9px !important; }
.apollo-fs-10-i { font-size: 10px !important; }
.apollo-fs-11-i { font-size: 11px !important; }
.apollo-fs-12-i { font-size: 12px !important; }
.apollo-fs-13-i { font-size: 13px !important; }
.apollo-fs-14-i { font-size: 14px !important; }
.apollo-fs-15-i { font-size: 15px !important; }
.apollo-fs-16-i { font-size: 16px !important; }
.apollo-fs-17-i { font-size: 17px !important; }
.apollo-fs-18-i { font-size: 18px !important; }
.apollo-fs-19-i { font-size: 19px !important; }
.apollo-fs-20-i { font-size: 20px !important; }
.apollo-fs-21-i { font-size: 21px !important; }
.apollo-fs-22-i { font-size: 22px !important; }
.apollo-fs-23-i { font-size: 23px !important; }
.apollo-fs-24-i { font-size: 24px !important; }
.apollo-fs-25-i { font-size: 25px !important; }
.apollo-fs-26-i { font-size: 26px !important; }
.apollo-fs-27-i { font-size: 27px !important; }
.apollo-fs-28-i { font-size: 28px !important; }
.apollo-fs-29-i { font-size: 29px !important; }
.apollo-fs-30-i { font-size: 30px !important; }
.apollo-fs-31-i { font-size: 31px !important; }
.apollo-fs-32-i { font-size: 32px !important; }
.apollo-fs-33-i { font-size: 33px !important; }
.apollo-fs-34-i { font-size: 34px !important; }
.apollo-fs-35-i { font-size: 35px !important; }
.apollo-fs-36-i { font-size: 36px !important; }
.apollo-fs-37-i { font-size: 37px !important; }
.apollo-fs-38-i { font-size: 38px !important; }
.apollo-fs-39-i { font-size: 39px !important; }
.apollo-fs-40-i { font-size: 40px !important; }
.apollo-fs-41-i { font-size: 41px !important; }
.apollo-fs-42-i { font-size: 42px !important; }
.apollo-fs-43-i { font-size: 43px !important; }
.apollo-fs-44-i { font-size: 44px !important; }
.apollo-fs-45-i { font-size: 45px !important; }
.apollo-fs-46-i { font-size: 46px !important; }
.apollo-fs-47-i { font-size: 47px !important; }
.apollo-fs-48-i { font-size: 48px !important; }
.apollo-fs-49-i { font-size: 49px !important; }
.apollo-fs-50-i { font-size: 50px !important; }
.apollo-fs-51-i { font-size: 51px !important; }
.apollo-fs-52-i { font-size: 52px !important; }
.apollo-fs-53-i { font-size: 53px !important; }
.apollo-fs-54-i { font-size: 54px !important; }
.apollo-fs-55-i { font-size: 55px !important; }
.apollo-fs-56-i { font-size: 56px !important; }
.apollo-fs-57-i { font-size: 57px !important; }
.apollo-fs-58-i { font-size: 58px !important; }
.apollo-fs-59-i { font-size: 59px !important; }
.apollo-fs-60-i { font-size: 60px !important; }
.apollo-fs-61-i { font-size: 61px !important; }
.apollo-fs-62-i { font-size: 62px !important; }
.apollo-fs-63-i { font-size: 63px !important; }
.apollo-fs-64-i { font-size: 64px !important; }
.apollo-fs-65-i { font-size: 65px !important; }
.apollo-fs-66-i { font-size: 66px !important; }
.apollo-fs-67-i { font-size: 67px !important; }
.apollo-fs-68-i { font-size: 68px !important; }
.apollo-fs-69-i { font-size: 69px !important; }
.apollo-fs-70-i { font-size: 70px !important; }
.apollo-fs-71-i { font-size: 71px !important; }
.apollo-fs-72-i { font-size: 72px !important; }
.apollo-fs-73-i { font-size: 73px !important; }
.apollo-fs-74-i { font-size: 74px !important; }
.apollo-fs-75-i { font-size: 75px !important; }
.apollo-fs-76-i { font-size: 76px !important; }
.apollo-fs-77-i { font-size: 77px !important; }
.apollo-fs-78-i { font-size: 78px !important; }
.apollo-fs-79-i { font-size: 79px !important; }
.apollo-fs-80-i { font-size: 80px !important; }
.apollo-fs-81-i { font-size: 81px !important; }
.apollo-fs-82-i { font-size: 82px !important; }
.apollo-fs-83-i { font-size: 83px !important; }
.apollo-fs-84-i { font-size: 84px !important; }
.apollo-fs-85-i { font-size: 85px !important; }
.apollo-fs-86-i { font-size: 86px !important; }
.apollo-fs-87-i { font-size: 87px !important; }
.apollo-fs-88-i { font-size: 88px !important; }
.apollo-fs-89-i { font-size: 89px !important; }
.apollo-fs-90-i { font-size: 90px !important; }
.apollo-fs-91-i { font-size: 91px !important; }
.apollo-fs-92-i { font-size: 92px !important; }
.apollo-fs-93-i { font-size: 93px !important; }
.apollo-fs-94-i { font-size: 94px !important; }
.apollo-fs-95-i { font-size: 95px !important; }
.apollo-fs-96-i { font-size: 96px !important; }
.apollo-fs-97-i { font-size: 97px !important; }
.apollo-fs-98-i { font-size: 98px !important; }
.apollo-fs-99-i { font-size: 99px !important; }
.apollo-fs-100-i { font-size: 100px !important; }
