.apollo-fs-1 { font-size: 1px; }
.apollo-fs-2 { font-size: 2px; }
.apollo-fs-3 { font-size: 3px; }
.apollo-fs-4 { font-size: 4px; }
.apollo-fs-5 { font-size: 5px; }
.apollo-fs-6 { font-size: 6px; }
.apollo-fs-7 { font-size: 7px; }
.apollo-fs-8 { font-size: 8px; }
.apollo-fs-9 { font-size: 9px; }
.apollo-fs-10 { font-size: 10px; }
.apollo-fs-11 { font-size: 11px; }
.apollo-fs-12 { font-size: 12px; }
.apollo-fs-13 { font-size: 13px; }
.apollo-fs-14 { font-size: 14px; }
.apollo-fs-15 { font-size: 15px; }
.apollo-fs-16 { font-size: 16px; }
.apollo-fs-17 { font-size: 17px; }
.apollo-fs-18 { font-size: 18px; }
.apollo-fs-19 { font-size: 19px; }
.apollo-fs-20 { font-size: 20px; }
.apollo-fs-21 { font-size: 21px; }
.apollo-fs-22 { font-size: 22px; }
.apollo-fs-23 { font-size: 23px; }
.apollo-fs-24 { font-size: 24px; }
.apollo-fs-25 { font-size: 25px; }
.apollo-fs-26 { font-size: 26px; }
.apollo-fs-27 { font-size: 27px; }
.apollo-fs-28 { font-size: 28px; }
.apollo-fs-29 { font-size: 29px; }
.apollo-fs-30 { font-size: 30px; }
.apollo-fs-31 { font-size: 31px; }
.apollo-fs-32 { font-size: 32px; }
.apollo-fs-33 { font-size: 33px; }
.apollo-fs-34 { font-size: 34px; }
.apollo-fs-35 { font-size: 35px; }
.apollo-fs-36 { font-size: 36px; }
.apollo-fs-37 { font-size: 37px; }
.apollo-fs-38 { font-size: 38px; }
.apollo-fs-39 { font-size: 39px; }
.apollo-fs-40 { font-size: 40px; }
.apollo-fs-41 { font-size: 41px; }
.apollo-fs-42 { font-size: 42px; }
.apollo-fs-43 { font-size: 43px; }
.apollo-fs-44 { font-size: 44px; }
.apollo-fs-45 { font-size: 45px; }
.apollo-fs-46 { font-size: 46px; }
.apollo-fs-47 { font-size: 47px; }
.apollo-fs-48 { font-size: 48px; }
.apollo-fs-49 { font-size: 49px; }
.apollo-fs-50 { font-size: 50px; }
.apollo-fs-51 { font-size: 51px; }
.apollo-fs-52 { font-size: 52px; }
.apollo-fs-53 { font-size: 53px; }
.apollo-fs-54 { font-size: 54px; }
.apollo-fs-55 { font-size: 55px; }
.apollo-fs-56 { font-size: 56px; }
.apollo-fs-57 { font-size: 57px; }
.apollo-fs-58 { font-size: 58px; }
.apollo-fs-59 { font-size: 59px; }
.apollo-fs-60 { font-size: 60px; }
.apollo-fs-61 { font-size: 61px; }
.apollo-fs-62 { font-size: 62px; }
.apollo-fs-63 { font-size: 63px; }
.apollo-fs-64 { font-size: 64px; }
.apollo-fs-65 { font-size: 65px; }
.apollo-fs-66 { font-size: 66px; }
.apollo-fs-67 { font-size: 67px; }
.apollo-fs-68 { font-size: 68px; }
.apollo-fs-69 { font-size: 69px; }
.apollo-fs-70 { font-size: 70px; }
.apollo-fs-71 { font-size: 71px; }
.apollo-fs-72 { font-size: 72px; }
.apollo-fs-73 { font-size: 73px; }
.apollo-fs-74 { font-size: 74px; }
.apollo-fs-75 { font-size: 75px; }
.apollo-fs-76 { font-size: 76px; }
.apollo-fs-77 { font-size: 77px; }
.apollo-fs-78 { font-size: 78px; }
.apollo-fs-79 { font-size: 79px; }
.apollo-fs-80 { font-size: 80px; }
.apollo-fs-81 { font-size: 81px; }
.apollo-fs-82 { font-size: 82px; }
.apollo-fs-83 { font-size: 83px; }
.apollo-fs-84 { font-size: 84px; }
.apollo-fs-85 { font-size: 85px; }
.apollo-fs-86 { font-size: 86px; }
.apollo-fs-87 { font-size: 87px; }
.apollo-fs-88 { font-size: 88px; }
.apollo-fs-89 { font-size: 89px; }
.apollo-fs-90 { font-size: 90px; }
.apollo-fs-91 { font-size: 91px; }
.apollo-fs-92 { font-size: 92px; }
.apollo-fs-93 { font-size: 93px; }
.apollo-fs-94 { font-size: 94px; }
.apollo-fs-95 { font-size: 95px; }
.apollo-fs-96 { font-size: 96px; }
.apollo-fs-97 { font-size: 97px; }
.apollo-fs-98 { font-size: 98px; }
.apollo-fs-99 { font-size: 99px; }
.apollo-fs-100 { font-size: 100px; }
