@media (min-width: 992px) {
  .shadow-on-lg-up {
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
  }
}

.map-label {
  opacity: 1;
  background-color: white;
  color: black;
  padding: 2px 5px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
}
