<!-- disclosures -->
<div class="fw-light apollo-fs-16 p-3" style="background: rgb(42,42,42); color: rgb(211,211,211)" >
  <div class="row align-items-center">
    <div class="col-auto text-center">
      <img src="<%= silica_bucket('/logo.png', brand: COMPANY_LC) %>" style="width: 7vw; max-width: 70px"/>
    </div>
    <div class="col">
      <%= APOLLO_DISCLAIMER %>
    </div>
  </div>
</div>
<!-- /disclosures -->
