<div class="row my-0 py-0">
  <div class="col text-center  <%= normal_text %>">
    <div class="d-none d-lg-block">Bed</div>
    <div class="d-block d-lg-none" style="">
      be.
    </div>
  </div>
  <div class="col text-center ">
    <div class="d-none d-lg-block">Bath</div>
    <div class="d-block d-lg-none" style="">
      ba.
    </div>
  </div>
  <div class="col text-center ">
    <div class="d-none d-lg-block">SqFT</div>
    <div class="d-block d-lg-none" style="">
      sq
    </div>
  </div>
  <div class="col text-center ">
    <div class="d-none d-lg-block">Year</div>
    <div class="d-block d-lg-none" style="">
      yr
    </div>
  </div>
</div>
