<a href="<%= logo_link %>" class="navbar-brand">
  <% if @zrea.is_a?(Zrea::Marketplace) %>
  <img class="d-none d-lg-block my-0 my-xxl-3" style="height: 66px" src="<%= logo %>">
  <% else %>
  <img class="d-none d-lg-block" style="height: 40px" src="<%= logo %>">
  <% end %>

  <img class="d-block d-lg-none" style="height: 40px" src="<%= small_logo %>">
</a>

