<div class="dropdown">
  <button class="btn btn-outline-brandprimary rounded-half-r-i" style="border-color: transparent" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fas fa-hat-wizard"></i>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item disabled" href="#">wizard menu</a></li>
    <li><%= button_to "Re-sync with Production Database", reverts_path(foo: 'FOO'), class: 'dropdown-item btn' %>
</li>
  </ul>
</div>
