<div id='offers_project_table_toolbar_left_city_filter' class="dropdown mx-1" data-controller="city-filter">
  <button class="btn btn-outline-brandprimary btn-sm dropdown-toggle" type="button" id="cityfilter-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
    City
  </button>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <form class="px-3">
      <%= render '/projects/bar/city_filter/dropdown_menu_items' %>
    </form>
  </ul>

</div>
