<div id='offers_project_table_toolbar_left_city_filter' class="dropdown mx-1" data-controller="city-filter">
  <button class="btn btn-link text-reset text-decoration-none zdropdown-toggle silica-rounded-0.5-i silica-weight-reset" type="button" id="cityfilter-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
    City <i class="bi bi-chevron-compact-down"></i>
  </button>

  <ul class="dropdown-menu apollo-bg-white-4-i" aria-labelledby="dropdownMenuButton1">
    <form class="px-3">
      <%= render '/projects/bar/city_filter/dropdown_menu_items' %>
    </form>
  </ul>

</div>
