<div id='offers_project_table_toolbar_left_offer_sent_filter' class="dropdown mx-1" data-controller="offer-sent-filter">
  <button class="btn btn-outline-brandprimary btn-sm dropdown-toggle rounded-half-r-i" type="button" id="offer_sent-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
    Offer Sent
  </button>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1633014931">
    <li>
      <div class="input-group mx-3 my-1" style="width: 25vw" data-controller="basic-flatpickr-2">
        <input type="text" class="form-control flatpickr1633014621" placeholder="" aria-label="Range" aria-describedby="button-addon1633008299" value="<%= j params[:offersentfilter] %>" readonly>
	<button class="btn btn-outline-brandprimary flatpickr1633014621-trigger rounded-half-r-i" type="button" id="button-addon1633008299">
          <%= feather_icon('calendar') %>
        </button>
        <button class="btn btn-outline-brandprimary apollo-clear-1633015412 rounded-half-r-i" type="button" id="button-tbd">
          <%= feather_icon('x') %>
        </button>
      </div>
    </li>
  </ul>

</div>
