<div id='offers_project_table_toolbar_left_req_date_filter' class="dropdown mx-1" data-controller="req-date-filter">
  <div class="dropdown">
    <button class="btn btn-link backend_basic_style_color text-decoration-none zdropdown-toggle rounded-half-r-i fw-light" type="button" id="req_date-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
      Req Date <i class="bi bi-chevron-compact-down"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1633008196">
      <li>
        <div class="input-group mx-3 my-1" style="width: 25vw" data-controller="basic-flatpickr">
          <input type="text" class="form-control flatpickr1633008361" placeholder="" aria-label="Range" aria-describedby="button-addon1633008299" value="<%= j params[:reqdatefilter] %>" readonly>
          <button class="btn btn-outline-brandprimary flatpickr1633008361-trigger rounded-half-r-i" type="button" id="button-addon1633008299">
	    <%= feather_icon('calendar') %>
	  </button>
          <button class="btn btn-outline-brandprimary apollo-clear-1633013473" type="button" id="button-tbd">
	    <%= feather_icon('x') %>
	  </button>
        </div>
      </li>
    </ul>
  </div>
</div>
