<div id='offers_project_table_toolbar_left_status_filter' class="dropdown mx-1" data-controller="status-filter">
  <button class="btn btn-link text-reset  text-decoration-none zdropdown-toggle silica-rounded-0.5-i silica-weight-reset" type="button" id="statusfilter-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
    Status <i class="bi bi-chevron-compact-down"></i>
  </button>

  <ul class="dropdown-menu apollo-bg-white-4-i text-reset" aria-labelledby="dropdownMenuButton1">
    <form class="px-3">
      <%= render '/projects/bar/status_filter/dropdown_menu_items' %>
    </form>
  </ul>

</div>
