<div id='offers_project_table_toolbar_left_state_filter' class="dropdown mx-1" data-controller="state-filter">
  <button class="btn btn-link backend_basic_style_color text-decoration-none zdropdown-toggle rounded-half-r-i fw-light" type="button" id="statefilter-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
    State <i class="bi bi-chevron-compact-down"></i>
  </button>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <form class="px-3">
      <%= render '/projects/bar/state_filter/dropdown_menu_items' %>
    </form>
  </ul>

</div>
