<div id='offers_project_table_toolbar_left_status_filter' class="dropdown mx-1" data-controller="status-filter">
  <button class="btn btn-outline-brandprimary btn-sm dropdown-toggle rounded-half-r-i" type="button" id="statusfilter-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
    Status
  </button>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <form class="px-3">
      <%= render '/projects/bar/status_filter/dropdown_menu_items' %>
    </form>
  </ul>

</div>
