<%
  project = Project.find(project_id)
%>

<div class="row ms-2">

  <div class="col-2 p-2">
    <div class="mb-2">
      <label class="form-label mb-0" for="title">Year</label>
      <%= text_field_tag 'dispositions_prepare_listing_pane[year]', project.listing.year.presence || project.year, class: 'form-control', form: form_id, data: { action: 'dispositions-prepare-listing-pane#disableSendMarketingEmailButton' } %>
      <span></span>
    </div>
  </div>

  <div class="col-2 p-2">
    <div class="mb-2">
      <label class="form-label mb-0" for="title">Lot Size</label>
      <%= text_field_tag 'dispositions_prepare_listing_pane[lot_size]', project.listing.lot_size.presence || project.lot_size, class: 'form-control', form: form_id, data: { action: 'dispositions-prepare-listing-pane#disableSendMarketingEmailButton' } %>
      <span></span>
    </div>
  </div>

  <div class="col-2 p-2">
    &nbsp;
  </div>

</div>
