<%= spacer(3) %>

<%= silica_container('accounts-show', inline_css: 'min-height: 74vh') do %>
  <div class="accordion text-reset" id="accounts-show-accordian">
    <div class="accordion-item text-reset">
      <h2 class="accordion-header silica-weight-reset text-reset">
	<button class="accordion-button text-reset silica-weight-reset" type="button" data-bs-toggle="collapse" data-bs-target="#silica-1649249534">
          Change Password
	</button>
      </h2>
      <div id="silica-1649249534" class="accordion-collapse collapse show" data-bs-parent="#accounts-show-accordian">
	<div class="accordion-body">
          <%= render '/accounts/show/form' %>
	</div>
      </div>
    </div>
  </div>
<% end %>
